composer.lock
phpunit.xml
config/environment.yml
config/environment_*.yml
vendor/
*~
*.old
var/*.sqlite
var/*.sqlite-journal
var/logs/*
!var/logs/.gitkeep
var/cache/*
!var/cache/.gitkeep
var/oauth-tokens/*
!var/oauth-tokens/.gitkeep
