<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Eole Core test suite">
            <directory suffix="Test.php">./src/Eole/Core/Test/</directory>
        </testsuite>
        <testsuite name="Eole Silex test suite">
            <directory suffix="Test.php">./src/Eole/Silex/Tests/</directory>
        </testsuite>
        <testsuite name="UserApi test suite">
            <directory suffix="Test.php">./src/Alcalyn/UserApi/Tests/</directory>
        </testsuite>
        <testsuite name="TaggedServicesTrait test suite">
            <directory suffix="Test.php">./src/Alcalyn/Pimple/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
