<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Eole Core test suite">
            <directory suffix="Test.php">./tests/Eole/Core/</directory>
        </testsuite>
        <testsuite name="Eole Silex test suite">
            <directory suffix="Test.php">./tests/Eole/RestApi/</directory>
        </testsuite>
    </testsuites>
</phpunit>
