<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Eole Silex test suite">
            <directory suffix="Test.php">./src/Eole/Silex/Tests/</directory>
        </testsuite>
        <testsuite name="UserApi test suite">
            <directory suffix="Test.php">./src/Alcalyn/UserApi/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
