database:
    connection:
        driver:     pdo_mysql
        host:       localhost
        dbname:     eole
        user:       root
        password:   ~
        charset:    utf8

websocket:
    server:
        host:       localhost
        port:       25069
