database:
    connection:
        driver:     pdo_mysql
        host:       localhost
        dbname:     eole
        user:       root
        password:   ~
        charset:    utf8
    orm:
        auto_generate_proxies: true

websocket:
    server:
        host:       0.0.0.0
        port:       8080

push_server:
    enabled:        true
    server:
        host:       127.0.0.1
        port:       5555

cors:
    access_control_allow_origin: ~

oauth:
    clients:
        eole-angular:
            name: eole-angular-name
            id: eole-angular
            secret: eole-angular-secret

games:
    tictactoe:
        provider: Eole\Games\TicTacToe\TicTacToe
    awale:
        provider: Eole\Games\Awale\Awale
