database:
    connection:
        driver:     {{driver []?|pdo_mysql}}
        host:       {{host []?|localhost}}
        dbname:     {{dbname []?|eole}}
        user:       {{user []?|root}}
        password:   {{password []?|~}}
        charset:    {{charset []?|utf8}}

websocket:
    server:
        host:       localhost
        port:       25069
